.utils-safe-names table {
	width: 100%;
	table-layout: fixed;
}

.utils-safe-names td,
.utils-safe-names li {
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

.utils-safe-names td,
.utils-safe-names th {
	padding: var(--size-4-2);
	text-align: left;
	vertical-align: top;
}
